body {
    width:100%;
    height: 100%;
    font-family: Pacifico, comic sans ms, Arial, Helvetica;
    background: rgba(179,220,237,1);
    /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(139,173,240,1) 19%, rgba(41,184,229,1) 50%, rgba(154,179,230,1) 72%, rgba(139,173,240,1) 79%, rgba(188,224,238,1) 100%);
    /* Opera 11.10+ */background: -ms-linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(139,173,240,1) 19%, rgba(41,184,229,1) 50%, rgba(154,179,230,1) 72%, rgba(139,173,240,1) 79%, rgba(188,224,238,1) 100%);
    /* IE 10+ */background: linear-gradient(45deg, rgba(179,220,237,1) 0%, rgba(139,173,240,1) 19%, rgba(41,184,229,1) 50%, rgba(154,179,230,1) 72%, rgba(139,173,240,1) 79%, rgba(188,224,238,1) 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
    }
    header, aside, nav, section, footer {
        opacity: 0.8;
        border-radius: 5px;
    }
    header {
        height: 15%;
    }
    .jokeUni {
        width:22.22%;
        display: inline-block;
        height: 20%;
        margin-left:3.7%;
    }
    .learnJoke {
        width:68.7%;
        height: 20%;
    }
    nav {
        background-color:#234465;
        width:91.3%;
        margin-left:3.7%;
    }
    ul {
        margin-top:0px;
        margin-bottom:0px;
        padding-top:2px;
        padding-bottom:4px;
    }
    ul li {
        display:inline;
        padding-right:1.63%;
        text-align:center;
    }
	.navigation{
		color: white;
        font-size: 17pt;
		text-decoration: none;
        font-weight: normal;
		font-family: 'Lobster', cursive !important;
	}
    nav a:hover {
        background: green;
        border: 3px double yellow;
        box-shadow: 6px 6px 6px black;
    }
    section {
		float:left;
		width:71%;
		height:1400px;
        background-color:#E6E6E6;
        margin-left:3.7%;
        margin-top:5px;
        margin-bottom:5px;
        padding:15px;
		
    }
    aside {
		float:left;
        width:16.5%;
        background-color:#E6E6E6;
        margin-left:5px;
        margin-top:5px;
        margin-bottom:5px;
        padding-left:25px;
    }
    aside div {
        margin-top: 65%;
        width: 64%;
    }
    footer {
		float:left;
        width:89.7%;
        background-color:#E6E6E6;
        margin-left:3.7%;
        padding:10px;
    }
    table {
        width:50%;
        font-size:11pt;
        margin-left:3%;
    }
    h2 {
        font-size:12pt;
        color:#234465;
        font-weight:bold;
    }
    ul.block {
        color:black;
        padding-left:10px;
        list-style-type: circle;
    }
    .block li {
        display:block;
        text-align:left;
    }
    a {
        /*font-family:arial;*/
        font-size:10pt;
        height:14px;
        padding-top:2px;
        padding-bottom:3px;
    }
    .laughingFace {
        width:49%;
        padding-left:40%;
    }
	dd{
		margin-bottom:15px;
		text-align:right;
		margin-right:40px;
	}
    .about-us-cow-1{

        float:left;
        background: linear-gradient(white,#234465);
        margin: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 10px 10px 5px #888888;
        width: 250px;
    }
    .resize1{
        padding-left: 0px;
         width: 25px;
         height: auto;
     }
    .resize2{
        padding-left: 30px;
        width: 20px;
        height: auto;
    }
    .resize3{
        padding-left: 30px;
        width: 20px;
        height: auto;
    }
    .secondRow{
        font-size: 15px;
    }
    .firstRow > a{
        font-style: italic;
        color:black;
        font-size: 20px;

        }
    #usr1{
        text-decoration: none;
    }
    #usr2{
        text-decoration: none;
    }
    #usr3{
        text-decoration: none;
    }
    #usr4{
        text-decoration: none;
    }
    #usr5{
        text-decoration: none;
    }
    #usr6{
        text-decoration: none;
    }
    ul.block > li > a {

        text-decoration: none;
        font-style: italic;
        font-size: 12pt;
        color: black;
    }