body {
    width:100%;
    font-family:comic sans ms;
    }
nav, section, aside {
    display: inline-block;
}
    .jokeUni {
        width:22.22%;
        margin-left:3.7%;
    }
    .learnJoke {
        width:68.7%;
    }
    nav {
        background-color:#234465;
        width:91.2%;
        margin-left:3.7%;
    }
    ul {
        color:white;
        font-size:16pt;
        margin-top:0px;
        margin-bottom:0px;
        padding-top:2px;
        padding-bottom:4px;
    }
    ul li {
        display:inline;
        padding-right:1.63%;
        text-align:center;
    }
    section {
        width:73.1%;
        background-color:#E6E6E6;
        margin-left:3.7%;
        margin-top:5px;
        margin-bottom:5px;
        padding:5px;
    }
    aside#rightPanel {
        display: inline-block;
        width:15%;
        height: 25%;
        background-color:#E6E6E6;
        margin-left:1px;
        margin-top:5px;
        margin-bottom:10px;
        margin-right:5.2%;
        float:right;
        padding-left:25px;
    }
    footer {
        width:89.7%;
        background-color:#E6E6E6;
        margin-left:3.7%;
        padding:10px;
    }
    table {
        width:50%;
        font-size:11pt;
        margin-left:3%;
    }
    h2 {
        font-size:12pt;
        color:#234465;
        font-weight:bold;
    }
    ul.block {
        color:black;
        padding-left:10px;
        list-style-type: circle;
    }
    .block li {
        display:block;
        text-align:left;
    }
    a {
        font-family:arial;
        font-size:10pt;
        height:14px;
        padding-top:2px;
        padding-bottom:3px;
    }
    .laphingFace {
        width:49%;
        padding-left:40%;
    }
